@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");
@keyframes flicker {
  from {
    opacity: 1; /* Непрозрачный текст */
  }
  to {
    opacity: 0; /* Прозрачный текст */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000;
}

body {
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
  font-family: "Khula", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.game-wrapper {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#player {
  width: 65px;
  height: 60px;
}

.game-start {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: flex-start;
  color: #d0d0d0c9;
  font-size: 36px;
}

.game-start a {
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #1d242c;
  border-radius: 5px;
  background: #d0d0d04a;
  padding: 15px;
  width: 300px;
  height: 100px;
  border: none;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 32px;
}

.game-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 5px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  min-width: 600px;
}

td {
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

.tic {
  background-image: url(images/X.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.tac {
  background-image: url(images/O.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.win-combination {
  background-color: rgba(191, 255, 0, 0.429);
}

.winner {
  animation: flicker 1s infinite;
}

.game-start h2 {
  width: 500px;
}

.game-start h2 img {
  width: 65px;
  height: 60px;
}
